header {
    background-color: var(--secondary);
    color: var(--primary);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem;
    margin: 0 1vw;
    padding: 0 .25rem;
}

header .icon {
    margin-left: .5rem;
}

.contact {
    text-align: end;
}

.logo {
    --size: 20vw;
    width: var(--size);
    height: var(--size);
    text-align: center;
    background-color: var(--overlay);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li {
    background-color: var(--overlay);
    padding: .25vw 2vw;
}

nav {
    grid-column: span 2;
}