header {
    background-color: var(--secondary);
    color: var(--primary);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem;
    margin: 0 1vw;
    padding: 0 .25rem;
}

.contact .icon {
       margin-left: .45rem;
}

.hours {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .125rem .45rem;
    font-size: 80%;
}

.hours-icon {
    grid-column: 3 / 3;
    grid-row: 1 / span 2;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.info .icon {
    color: var(--overlay);
}

.logo {
    --size: 20vw;
    width: var(--size);
    height: var(--size);
    text-align: center;
    background-color: var(--overlay);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li {
    background-color: var(--overlay);
    padding: .25vw 2vw;
}

nav {
    grid-column: span 2;
}

@media screen and (min-width: 768px) {
    .logo {
        --size: 15vw;
    }
}

@media screen and (min-width: 1024px) {
    .contact {
        display: flex;
        gap: 1rem;
    }

    header {
        align-items: flex-end;
    }

    .info {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1rem;
    }

    .logo {
        --size: 15vh;
        grid-row: span 2;
    }

    nav {
        grid-column: span 1;
    }
}