@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px dotted blue; */
}

:root {
  --primary: rgb(147, 143, 143);
  --secondary: rgb(142, 40, 40, .9);
  --tertiary: rgba(38, 38, 41, 0.9);
  --overlay: rgba(43, 28, 28, 0.65);
  --accent: rgba(155, 151, 151, 0.85);
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--primary);
  font-family: 'Source Sans Pro', sans-serif;
  font-variant: small-caps;
}

main {
  flex-grow: 1;
}

.link {
  cursor: pointer;
  transition: color 1s;
}

.link:hover,
.selected {
  color: var(--secondary);
}

ul {
  list-style: none;
}