* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px dotted blue
}

:root {
  --primary: rgb(230, 230, 230);
  --secondary: rgb(142, 40, 40);
  --tertiary: rgba(38, 38, 41, 0.9);
  --accent: rgba(155, 151, 151, 0.85);
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primary);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  overflow-y: scroll;
}

main {
  flex-grow: 1;
}

.link {
  cursor: pointer;
  transition: color 1s;
}

.link:hover {
  color: var(--quaternary);
}